/*@font-face {*/
/*    font-family: "cookie";*/
/*    src: url("../../font/font.ttf");*/
/*}*/

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700;900&display=swap');*/

/*!* main contents css *!*/

/*#focus{*/
/*    color: #1e88e5;*/

/*}*/

/*#auth-wrapper{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    height: 100%;*/
/*}*/

/*body::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/

/*#wrapper-login-form{*/
/*    background-color: #f9f9f9;*/
/*}*/

/*.ant-tabs-content{*/
/*    background-color: #f9f9f9 !important*/
/*}*/

/* #logo-img{*/
/*     width: 80px;*/
/* }*/

/* #login-header {*/
/*     font-family: 'Noto Sans KR', sans-serif;*/
/*     font-weight: 900;*/
/*     font-size: 50px;*/
/*     color: #1e88e5;*/
/*     padding-bottom: 50px;*/
/* }*/

/*.underline{*/
/*    padding-left: 20px;*/
/*    font-family: cookie;*/
/*    font-weight: 100;*/
/*    color: grey;*/
/*    font-size: 20px;*/
/*    border: none;*/
/*    padding-bottom: 0.5rem;*/
/*    outline: none;*/
/*    width: 100%;*/
/*    border:0;border-bottom:1px solid grey;*/
/*    background-color: #f9f9f9;*/
/*    margin-bottom: 50px;*/

/*  }*/

/*.underline::placeholder {*/
/*    color: #c0c0c0;*/
/*}*/

/*#loginBtn {*/
/*    font-family: cookie;*/
/*    border-radius: 100px;*/
/*    width:650px;*/
/*    background-color: #1e88e5;*/
/*    border: none;*/
/*    color:#fff;*/
/*    padding: 15px 0;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 20px;*/
/*    font-weight: 800;*/
/*    margin: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*#login-footer{*/
/*    margin-top: 30px;*/
/*    font-family: cookie;*/
/*    margin-left: 30px;*/
/*    width: 80%;*/
/*    color: #272727;*/
/*}*/

/*.mySpan{*/
/*    padding-left: 10px;*/
/*    color: #1e88e5;*/
/*}*/

/*#ompass-logo-wrapper{*/
/*    width: 14%;*/
/*    padding-top: 50px;*/
/*    padding-bottom: 20px;*/
/*    margin: 0 auto;*/

/*}*/

/*#ompass-login-wrapper{*/
/*    width: 100%;*/

/*}*/

/*#ompassLoginBtn{*/

/*    font-family: cookie;*/
/*    border-radius: 100px;*/
/*    width:400px;*/
/*    background-color: #1e88e5;*/
/*    border: none;*/
/*    color:#fff;*/
/*    padding: 15px 0;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 20px;*/
/*    font-weight: 800;*/

/*    cursor: pointer;*/
/*    margin-bottom: 70px;*/
/*}*/

/*.ant-tabs-tab{*/
/*    text-align: center !important;*/
/*    font-family: cookie !important;*/
/*    font-weight: 700;*/
/*    width:110px !important;*/
/*    background-color: #f9f9f9 !important;*/
/*    color: #c0c0c0;*/
/*}*/

/*.ant-tabs-tabpane{*/
/*    background-color: #f9f9f9;*/
/*    margin-top: -16px;*/
/*}*/

/*#checkTokenMsg{*/
/*    padding-top: 150px;*/
/*    font-size: 40px;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    font-weight: bold;*/
/*}*/

@font-face {
  font-family: "cookie";
  src: url("../../font/font.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
